<template name="chav">
    
    {{> header}}


    <ul id="sobre" class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">Basquete Feminino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_bf.jpg" alt="">
        </div>

      </li>
      <li>
        <div class="collapsible-header">Basquete Masculino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_bm.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Futsal Feminino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_ff.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Futsal Masculino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_fm.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Handebol Feminino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_hf.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Handebol Masculino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_hm.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Tênis Masculino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_tm.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Tênis Feminino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_tf.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Tênis de Mesa Feminino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_tmf.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Tênis de Mesa Masculino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_tmm.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Vôlei Feminino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_vf.jpg" alt="">
        </div>
      </li>
      <li>
        <div class="collapsible-header">Vôlei Masculino</div>
        <div class="collapsible-body">
            <img src="/chaves/_chav_vm.jpg" alt="">
        </div>
      </li>
    </ul>
</template>