<template name="configuracoes">
	{{> header}}
	<ul class="collection" id="configuracoes">
		<li class="collection-item">
			Notificações de evento
			<div class="switch">
			    <label>
			      <input id="n_evento" type="checkbox">
			      <span class="lever"></span>
			    </label>
			</div>
		</li>
		<li class="collection-item">
			Notificações Meu Bife
			<div class="switch">
			    <label>
			      <input id="n_meun" type="checkbox">
			      <span class="lever"></span>
			    </label>
			</div>
		</li>
	</ul>
            
</template>