<template name="listaTags">
	{{> header}}
    <ul class="collection" id="tags">
        <li class="collection-item"><a href="" class="routerGo" data-linha="Balada">Balada</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Basquete Feminino">Basquete Feminino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Basquete Masculino">Basquete Masculino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Futsal Feminino">Futsal Feminino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Futsal Masculino">Futsal Masculino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Handebol Feminino">Handebol Feminino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Handebol Masculino">Handebol Masculino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Jiu Jitsu">Jiu Jitsu</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Natação">Natação</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Rugby">Rugby</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Tênis de Campo">Tênis de Campo</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Tênis de Mesa">Tênis de Mesa</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Volei Masculino">Volei Masculino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Volei Feminino">Volei Feminino</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Xadrez">Xadrez</a></li>
	</ul>

    <!-- ##para algum dia fazer a busca por mais de uma categoria
    <div class="row center">
        <button class="tags_search_button btn waves-effect waves-light" type="submit" name="action">Pesquisar</button>
    </div>-->
</template>
