<template name="listaTags">
	{{> header}}
    <ul class="collection" id="tags">
        <li class="collection-item"><a href="" class="routerGo" data-linha="Faça Você Mesmo">Faça Você mesmo</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Design e Sinestesia">Design e Sinestesia</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Construção de Carreira e Empreendedorismo">Construção de Carreira e Empreendedorismo</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Produção Vernacular">Produção Vernacular</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Design e Educação">Design e Educação</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Economia Solidária">Economia Solidária</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Ética do Design">Ética do Design</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Espaço Público">Espaço Público</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Identidade Cultural">Identidade Cultural</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Métodos de Projeto">Métodos de Projeto</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Organizações Inovadoras">Organizações Inovadoras</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Pimp my N">Pimp my N</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Sustentabilidade">Sustentabilidade</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Design e Diversidade">Design e Diversidade</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Design para Todos">Design para Todos</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Design e Poder Público">Design e Poder Público</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Design, História e Contemporaneidade">Design, História e Contemporaneidade</a></li>
        <li class="collection-item"><a href="" class="routerGo" data-linha="Filosofia do Design">Filosofia do Design</a></li>
	</ul>

    <!-- ##para algum dia fazer a busca por mais de uma categoria
    <div class="row center">
        <button class="tags_search_button btn waves-effect waves-light" type="submit" name="action">Pesquisar</button>
    </div>-->
</template>
