<template name="sobreoapp">
	{{> header}}

    <div class="col s12">
        <div class="container">

            <h2 style="margin-top: 10px;">Sobre o App</h2>
            <p style="font-size: 15px;">O aplicativo em suas mãos foi construído usando o framework <a href="https://www.meteor.com/">Meteor</a>, e é todalmente em HTML, CSS e Javascript. Para a interface, usamos o Framework de CSS chamada <a href="http://materializecss.com/">Materialize</a>.</p>
            <p style="font-size: 15px;">Se quiser baixar o código fonte do aplicativo, e colaborar para sua melhoria (e quem sabe no próximo N Design ele esteja ainda melhor!), você o encontrará no GitHub nesse link: <a href="http://github.com/">github.com/</a>.</p>

        </div>
    </div>

</template>
