<template name="sobreon">
    
    {{> header}}


    <ul id="sobre" class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">N SP 2015 + CONDe</div>
        <div class="collapsible-body">
            <p>Segundo Aristóteles, movimento se define como a passagem de potência ao ato. As possibilidades sujeitas a serem concretizadas em ato, configuram-se como potências. Já o ato é a potência que chegou a se concretizar. O movimento é a saída da inércia para a ação! Esse conceito extrapola os limites do N Design e do próprio design, por isso, aumentamos o nosso raio de reflexão e nos colocamos como agentes transformadores da sociedade. </p>

            <p>Enxergamos o incentivo à mobilização estudantil, a interação entre diversas disciplinas (transdisciplinaridade) e a contribuição do design à sociedade como as principais potências a serem transformadas em ato. Esses três tôpicos foram adotados como nossos eixos temáticos, e orientam todo o projeto dessa 25a edição do N Design.</p>

            <p>A CONDe (Comissão Organizadora do N Design) se divide, atualmente, em 4 principais núcleos: criação, comunicação, conteúdo e recursos - sem contar os grupos de trabalho, criados e dissolvidos para lidar com algumas demandas específicas. Os fundamentos que regem a organização da CONDe SP são inspirados em modelos de organizações horizontais, orgânicas, holocráticas e até mesmo em princípios caórdicos. O processo que nos trouxe à estrutura que temos hoje foi bastante orgânico e, citando Mario Kaphan novamente, aqui “cada um faz o que quer, mas todos têm a ver com isso”.</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Posicionamentos</div>
        <div class="collapsible-body">
            <p><strong>Opressão</strong></p>
            <p>Num contexto onde se encerra uma CPI sobre trotes universitários na cidade de São Paulo, com mais de 110 denúncias de abuso sexual, e entendendo o espaço potencializador que é o N Design e a importância da discussão sobre diversidade de Raças, Gêneros e de Sexualidade propomos o sonho que o N SP 2015 seja um espaço livre destes tipos de opressões.</p>
            <p>Para além das atividades contidas na nossa linha de discussão “Design e Diversidade”, também realizaremos oficinas para a comunicação deste discurso anti-opressão, que será reiterado em nossas atividades de integração (festas, atividade integradora e esquentas). </p>

            <p><strong>Sustentabilidade</strong></p>
            <p>"Várias escolas de pensamento constatam que, para criar uma sociedade durável deveríamos nos aproximar de um ponto em que utilizássemos apenas 10% dos recursos que as sociedades industriais hoje consomem. Para realizar essa transformação, mudanças radicais são necessárias.", Unep, Product-Service Systems and Sustainability: Opportunities for Sustarnuble Solutions (Unep, 2002).</p>
            <p>Acreditamos que a construção de uma sociedade verdadeiramente sustentável exige mudanças fundamentais no modelo de sociedade existente. Vemos no design uma potência enorme de colaboração com a efetivação dessas mudanças e nos preocupamos em inserir a sustentabilidade como premissa para a formação de futuros designers.</p>
            <p>A linha de discussão “Sustentabilidade” traz muitas práticas e conceitos (introdutórios e mais aprofundados) que mostram como o raciocínio sustentável pode estar presente no nosso cotidiano, sendo por iniciativas de reutilização, como acontecerá nas oficinas, ou em mudanças de hábitos de consumo e até o debate sobre a mudança nas logísticas industriais, como será exposto nas mesas redondas, por exemplo. Promoveremos a conscientização frente à falta de água em SP, além de incentivarmos iniciativas como a construção de cisternas domésticas para captação de água da chuva, a construção e cultivo de uma horta vertical por sistema de aquaponia no alojamento e, além disso, os resíduos gerados no almoço serão recolhidos por grupos paulistanos de catadores vinculados à reciclagem em conjunto com a aprendizagem sobre a cadeia da reciclagem e a gestão de resíduos.</p>
            <p><strong>Economia Solidária</strong></p>
            <p>As transformações que a Economia Solidária vem promovendo – que vem se tornando cada vez maiores e crescem de maneira significativa aqui no Brasil, haja vista a criação da Secretaria Nacional de Economia Solidária, em 2003, por exemplo – são fundamentais para que se alcance uma realidade mais igualitária. É essencial que  essas ações tenham grande visibilidade, para mostrar, com cada vez mais consistência, que existem caminhos alternativos para a produção, comercialização, organização, ou, de modo geral, que existem possibilidades de construção de relações interpessoais que realmente primam pelo respeito ao ser humano.</p>
            <p>Inseridos no movimento estudantil de design, buscamos trazer para essa realidade o olhar sobre a Economia Criativa e Solidária afim de criar um embrião que possa crescer dentro do nosso meio. Sendo assim, dentro do encontro trazemos uma linha de discussão em torno dessa economia, e buscamos parceria com coletivos e grupos que atuam na cidade com essa premissa - a exemplo do nosso parceiro Design Possível que trabalha com isso há mais de dez anos.</p>
            <p>Mais do que despertar o potencial que os encontristas possuem de colaborar com a Economia Solidária, pretendemos fazer com que eles aprendam – e nós, da comissão, também – com as iniciativas já existentes, afim de embasar as nossas discussões e formar futuros designers engajados nessa questão para que possamos, de fato, construir um futuro onde o design contribua efetivamente para as transformações sociais em curso.</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">CONe</div>
        <div class="collapsible-body">
              <p>“O CoNE tem como objetivos: dar suporte a realização de encontros nacionais e regionais, criar uma linha direta entre os estudantes de Design de todo o país, fomentar o Design dentro das escolas e ajudar a sedimentar, de alguma forma, o Design no Brasil”.<br> 
              – Ricardo “Peixinho” (Recife, PE), Presidente do CONE Design. Jornal “O Cônico”, ano 1 nº0, Novembro de 1996.</p>

              <p>Funcionando como o forúm de representação a nível nacional, onde deliberam-se  diretrizes para o movimento estudantil (entre elas a sede do próximo N Design), o CoNE é um espaço para troca de ideias, experiências e ações para além do que o N Design já proporciona,  com uma visão voltada para as necessidades dos estudantes e suas problemáticas em caráter nacional. </p>

              <p>O CoNE é aberto a todos os estudantes de design e seu funcionamento é dividido em dois tipos de espaço:
              espaço deliberativo: onde as pautas são discutidas e as ações são votadas (com transmissão ao vivo pela internet), 
              espaço executivo: onde os encaminhamentos votados são colocados em prática. </p>

              <p><strong>Breve histórico do CoNE:</strong></p>
              <p>Em 1996, na 6ª edição do N Design, nasceu o CoNE, um órgão que passou a representar toda a classe estudantil de design. Desde sua origem, o CoNE Design realiza várias atividades, tais como encontros, palestras e workshops, tanto de cunho nacional quanto regional.</p>
               
              <p>Uma das atividades mais significativas foram as exposições. Em agosto de 2000 foi realizada a primeira Expo Design, em São Paulo, no Shopping Light, com projetos de estudantes de todo o Brasil.</p>

              <p>Os estudantes eram, a principio, representados por secretarias nacionais. Mas com o passar do tempo, percebeu-se que esse modelo dificultava a comunicação direta entre os estudantes, pois vários estados eram representados por alguns poucos, daí muitos problemas e ações ficavam fora das discussões.</p>

              <p>Sendo assim, em 2006 um novo modelo foi posto em prática: a representação através das entidades de base, onde cada curso tem seu único representante e muitos poderiam se fazer ouvir. </p>
               
              <p>Atualmente, o CoNE continua promovendo debates e ações, sendo o principal alicerce para a realização do N, e conta, como sempre, com a responsabilidade e compromisso dos representantes e entidades de base.</p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">Horários</div>
        <div class="collapsible-body">
              <p>ALOJAMENTO > RIO BRANCO</p>
              <ul>
                <li>12h30</li>
                <li>13h10</li>
                <li>13h50</li>
                <li>14h30</li>
              </ul>

              <p>ALOJAMENTO > RIO BRANCO</p>
              <ul>
                <li>16h00</li>
              </ul>

              <p>RIO BRANCO > ALOJAMENTO</p>
              <ul>
                <li>16h30</li>
              </ul>

              <p>RIO BRANCO > ALOJAMENTO</p>
              <ul>
                <li>18h00</li>
                <li>18h40</li>
                <li>19h20</li>
                <li>20h00</li>
              </ul>

                     <p>ALOJAMENTO > BODAS DE PRATA (25 de julho)</p>
              <ul>
                <li>22:30</li>
                <li>23:00</li>
                <li>23:30</li>
                <li>00:00</li>
              </ul>

                     <p>BODAS DE PRATA > ALOJAMENTO</p>
              <ul>
                <li>03:30</li>
                <li>04:15</li>
                <li>05:00</li>
                <li>05:40</li>
              </ul>
        </div>
      </li>
    </ul>
</template>