<template name="gerenciarAtividadesEditar">

    <div class="navbar-fixed" id="feed-header">
        <nav id="header">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <a href="{{pathFor 'gerenciar_atividades'}}" data-activates="mobile-demo" class="button-collapse"><i class="mdi-hardware-keyboard-backspace"></i></a>
                    </li>
                    <li>Editar Atividade</li>
                </ul>
            </div>
        </nav>
    </div>
    <form action="">
    <div class="container">

        <div class="row">
            <br>
            <div class="input-field col s12">
                <input id="atividade_titulo" type="text" class="validate" value="{{titulo}}">
                <label for="atividade_titulo">Título da atividade</label>
            </div>

            <div class="input-field col s12">
                <input id="atividade_imagem" type="text" class="validate" value="{{imagem}}">
                <label for="atividade_imagem">Imagem da atividade</label>
            </div>

            <div class="input-field col s12">
                <input id="atividade_local" type="text" class="validate" value="{{local}}">
                <label for="atividade_local">Local</label>
            </div>

            <div class="input-field col s12">
                <input id="atividade_tipo" type="text" class="validate" value="{{tipo}}">
                <label for="atividade_tipo">Tipo</label>
            </div>

            <div class="input-field col s12">
                <input id="atividade_datainicio" type="text" class="validate" value="{{datainicio}}">
                <label for="atividade_datainicio">Data de Início</label>
            </div>

            <div class="input-field col s12">
                <input id="atividade_horarioinicio" type="text" class="validate" value="{{horarioinicio}}">
                <label for="atividade_horarioinicio">Horário Início</label>
            </div>

       </div>


       <input type="submit" class="btn waves-effect waves-light adicionar_atividade" value="Editar atividade" style="margin: 0 auto;">

    </div>
    </form>

</template>



