body, html {height: 100%;}

img {max-width: 100%}
hr {border: none; border-bottom: 1px solid #ddd; margin: 15px 0;}

h6 {
	font-weight: normal;
	font-size: 15px;
	margin: 25px 0 10px 0;
	color: #666;
}

.select-wrapper {
	z-index: 10;
}

.collection .collection-item {
	padding: 10px 13px;
	color: #bbb;
}

.collection .collection-item.notification {
	min-height: 0;
}

.container {
	padding: 15px;
}

#tag {
	line-height: 1.2;
}

/*

UNCOMMENT THIS WHEN BUILDING FOR IOS

div.navbar-fixed#feed-header {
	height: 86px !important;
	padding-top: 30px !important;
	background-color: #00bcd4 !important;
}

#mobile-demo figure {
	height: 145px !important;
}

.side-nav a {
	height: 60px !important;
} */
p {color: #999;}

nav {
	box-shadow: none;
	background-color: #00bcd4;
}

div.navbar-fixed {
	height: 56px;
}

#header ul.right>li {
	position: relative;
}

#notifications_badge {
	position: absolute;
	background-color: red;
	line-height: 1;
	font-size: 10px;
	padding: 3px 5px;
	color: white;
	font-weight: bold;
	border: 1px solid #00bcd4;
	top: 13px;
	left: 32px;
	border-radius: 100%;
}

#notificacoes li.collection-item.avatar {
	padding-left: 20px;
	height: auto;
}

#notificacoes li.collection-item.avatar {
	padding-left: 20px;
	height: auto;
}

li.collection-item.avatar.read {
	background-color: #f3f3f3;
  	color: #999;
}

#feed-datebar.navbar-fixed {
    z-index: 996;
}

#feed-header+.row {
	margin-bottom: 0;
	background-color: #00bcd4;
	display: none;
}

#feed-header+.row input {
	color: white;
	border-color: white;
}

#feed-header+.row label {
	color: white;
}

#mobile-demo figure {
	margin: 0;
	height: 130px;
	background-image: url('bg-tab.jpg');
	background-size: cover;
}

#mobile-demo hr {
	margin: 15px 0;
}

.side-nav a {
	height: 50px;
	line-height: 50px;
}

#mobile-demo li i {
    display: inline;
    font-size: 22px;
    position: relative;
    top: 4px;
    left: -7px;
    margin-right: 6px;
    color: #777;
}

nav#datas-navbar {
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	height: 56px;
}

nav#datas-navbar ul#nav-mobile {
	width: 680px;
}

nav#datas-navbar ul#nav-mobile, nav#datas-navbar ul#nav-mobile li {
	height: 56px;
	background-color: #00bcd4;
}

nav#datas-navbar ul#nav-mobile li.active, nav#datas-navbar ul#nav-mobile li:hover {
	box-sizing: border-box;
	border-bottom: 3px solid #00E7EB;
	opacity: 1;
}

nav#datas-navbar ul#nav-mobile li{
	opacity: 0.7;
}

nav#datas-navbar span.date {
	font-size: 2rem;
	position: relative;
}

nav#datas-navbar span.day {
	position: absolute;
	top: -6px;
}

nav#datas-navbar span.month {
	opacity: 0.4;
}

nav#datas-navbar span.day, nav#datas-navbar span.month {
	font-size: 0.8rem;
}

nav#tags-header ul li {
	padding-left: 15px;
	font-size: 18px;
}

ul#atividades, ul#tags {
	margin: 0;
}

ul#atividades li.collection-item.avatar {
	height: auto;
	padding-right: 40px;
}

ul#atividades li.collection-item.avatar a.secondary-content {
	font-size: 24px;
	top: 0px;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 1;
	width: 50px;
}

ul#atividades li.collection-item.avatar a.secondary-content i {
	display: inline-block;
	margin-top: 50px;
	float: right !important;
	margin-right: 10px;
}

ul#atividades li.collection-item.avatar p {
	color: #999;
}

ul#atividades li a.atividades-list-link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.secondary-content {
	color: #999;
}

.secondary-content.active {
	color: #00bcd4;
}

p.horario {
	margin: 0;
	line-height: 1;
	background: #999;
	color: white;
	padding: 7px 10px;
}

div.switch {
	display: inline-block;
	float: right;
}

[type="checkbox"] + label::before {
	border-color: #bbb;
}

.collection {
	margin-top: 0;
}

div#mapas-tabs ul.tabs li {
	width: 50%;
	text-align: center;
}

.container {
	width: 100%;
}

.container.header {
	position: relative;
}

h6+.col.s2 {
	padding: 0;
}

p+h6:last-of-type {
	margin-bottom: 20px;
}

h3 {
	margin-top: 25px;
}

#tags li {
	padding-right: 10px;
}

#configuracoes li {
	padding-right: 0px;
}

div.card {
	margin: 0;
	padding: 0;
	box-shadow: none;
}

div.card span.card-title {
	display: block;
	width: 100%;
	background: rgba(0,0,0,.5);
	line-height: 1;
	bottom: 7px;
}

div.card span.card-title span {
	font-size: 1pt;
	opacity: .5;
}

.card .card-image .card-title {
	bottom: 5px;
}

.card-title em {
	font-style: normal;
	font-size: 12pt;
	opacity: .5;
}

div.card:first-of-type {
	margin-top: 0;
}

div.card {
	margin-top: -5px;
}

.close_link {  position: absolute; top: 0; left: 10px;}
.atividade_single {padding-top: 0; }
.atividade_single img {max-width: 100%;}
.atividade_single .container.header {height: auto;}
.atividade_single .container.header h4 {padding-bottom: 15px; font-size: 2em;}
.atividade_single .container.header a.btn-floating {position: absolute; right: 15px; bottom: -40px;}
.atividade_metadata {}
.atividade_metadata p {margin: 18px 0;}
.atividade_metadata p i {font-size: 19px;}
.atividade_metadata p a {font-size: 15px; color: #333; padding-left: 10px;}

body.loginBackground {
  background: url('login_screen_new2.jpg') no-repeat top center;
background-size: cover;
  background-attachment: fixed;
}

.login_screen {
	height: 100%;
}

.login_screen .container {
	position: relative;
}

.login_screen .row .input-field input {
    border-color: #fff;
}

.login_screen .row.row-logo {
    text-align: center;
    margin-bottom: 0;
}

.login_screen .row.row-logo img {
    width: 60%;
    margin: 15px 0;
}

.container .row {
	margin-left: auto;
	margin-right: auto;
}

#mapa {
	padding: 10px;
}

#sobre p {
	margin: 25px 0;
	padding: 0 15px;
}

#sobre .collapsible-header {
	background-color: #f1f1f1;
}

#sobre .collapsible-body {
	background-color: white;
}

.collapsible {margin: 0 0 1rem 0;
	box-shadow: none;
	color: #999;
}

#mapa_list.collapsible {
	margin-bottom: 0;
}

#mapa_list.collapsible .collapsible {
	border-top: none;
}

#mapa_list.collapsible li {
	background-color: #fafafa;
	margin: 0 !important;
}

#mapa_list.collapsible .collapsible li {
	background-color: white;
}

#mapa_list.collapsible .collapsible li:last-child {
	border-bottom: none;
}

#mapa_list.collapsible-header {
	background: transparent;
}

.collapsible .collapsible .collapsible-header {
	position: relative;
	padding-left: 35px;
}

.collapsible .collapsible .collapsible-header span {
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	background-size: cover;
	left: 5px;
	top: 13px;
}

#rosa span {	
	background-image: url('mapa/icon_rosa.png');	
}

#ciano span {	
	background-image: url('mapa/icon_ciano.png');	
}

#amarelo span {	
	background-image: url('mapa/icon_amarelo.png');	
}

#alimentacao span {	
	background-image: url('mapa/icon_alimentacao.png');	
}

#ambulatorio span {	
	background-image: url('mapa/icon_ambulatorio.png');	
}

#banheiros span {	
	background-image: url('mapa/icon_banheiros.png');	
}

#elevadores span {	
	background-image: url('mapa/icon_elevadores.png');	
}

.collapsible-body p {
  margin: 0;
  padding: 5px 2rem;
}
.collapsible-body ul {
  list-style: initial;
  color: #999;
  list-style-position: inside;
  list-style-type: disc;
  margin-bottom: 25px;
}
.collapsible-body ul li {
  list-style: initial;
  list-style-type: disc;
  margin: 3px 0 3px 50px;
}
