<template name="atividades_nav">
	<div class="navbar-fixed" id="feed-datebar">
	  <nav id="datas-navbar">
	    <div class="nav-wrapper" style="  width: 100%; overflow-x: scroll; overflow-y: hidden; height: 74px;">
	      <ul id="nav-mobile" class="left">
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="31/10">
	        		<span class="date">31</span>
	        		<span class="day">SAB</span>
	        		<span class="month">OUT</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="01/11">
	        		<span class="date">01</span>
	        		<span class="day">DOM</span>
	        		<span class="month">NOV</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="02/11">
	        		<span class="date">02</span>
	        		<span class="day">SEG</span>
	        		<span class="month">NOV</span>
	        	</a>
	        </li>
	      </ul>
	    </div>
	  </nav>
	</div>
</template>