<template name="atividades_nav">
	<div class="navbar-fixed" id="feed-datebar">
	  <nav id="datas-navbar">
	    <div class="nav-wrapper" style="  width: 100%; overflow-x: scroll; overflow-y: hidden; height: 74px;">
	      <ul id="nav-mobile" class="left">
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="19">
	        		<span class="date">19</span>
	        		<span class="day">DOM</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="20">
	        		<span class="date">20</span>
	        		<span class="day">SEG</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="21">
	        		<span class="date">21</span>
	        		<span class="day">TER</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="22">
	        		<span class="date">22</span>
	        		<span class="day">QUA</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="23">
	        		<span class="date">23</span>
	        		<span class="day">QUI</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="24">
	        		<span class="date">24</span>
	        		<span class="day">SEX</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="25">
	        		<span class="date">25</span>
	        		<span class="day">SAB</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	        <li>
	        	<a href="#" class="atividade_nav_day" data-dia="26">
	        		<span class="date">26</span>
	        		<span class="day">DOM</span>
	        		<span class="month">JUL</span>
	        	</a>
	        </li>
	      </ul>
	    </div>
	  </nav>
	</div>
</template>